# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.pid.lock

# Environment variables
.env

# Coverage directory
coverage/

# Temporary files
tmp/
temp/

# Editor and OS specific files
.DS_Store
Thumbs.db

# Build files
dist/
build/

# Other IDE-specific files (optional)
.vscode/
*.swp
*.swo
